h2 {
  color: #155bcb;
}

table {
  max-width: 100%;
}

p {
  font-weight: 500;
  font-size: 16.8px;
}

p a {
  color: #ffae00 !important;
}

strong {
  font-weight: 800;
  color: #0c326f;
  font-size: 16.8px;
  text-transform: uppercase;
}

.show h1 {
  display: none;
}

thead tr th {
  background-color: #f0f0f0;
}

thead tr th p {
  max-width: 200px;
  word-wrap: break-word;
  font-weight: 600;
  color: #1351b4;
  text-align: center;
}

tbody tr td {
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  text-align: center;
}

tbody tr td p {
  max-width: 200px;
  word-wrap: break-word;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  text-align: center;
}
