.header-background {
  background-size: cover;
  background-repeat: no-repeat;
}

.background-image {
  background-position: -18px 0;
}

.search-container {
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: brightness(0) saturate(100%) invert(21%) sepia(57%) saturate(2135%)
    hue-rotate(180deg) brightness(93%) contrast(101%); /* Inverte as cores, ajuste conforme necessário */
}

.search-container input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 2px solid white;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: transparent;
}

.search-container input[type="checkbox"]:checked {
  background-color: #fff;
  border: 5px solid #005081;
}

.custom-label {
  color: white;
  font-size: 32px;
  font-weight: 600;
}

.custom-label-checkbox {
  color: white;
  margin-left: 6px;
}
