.editor-wrap {
  position: relative;
}

.sair-button {
  position: absolute;
  top: 17px;
  right: 64px;
  z-index: 2;
}

.pesquisar-button {
  position: absolute;
  top: 17px;
  right: 290px;
  z-index: 2;
}

.pesquisar-wrap {
  position: absolute;
  width: 330px;
  height: 600px;
  overflow: scroll;
  top: 77px;
  right: 170px;
  z-index: 999;

  background-color: white;
  box-shadow: 0px 9px 6px 0px rgba(51, 51, 51, 0.16);
  padding: 20px 10px;
}
