.save-progress {
  display: flex;
  width: 208px !important;
  height: 39px !important;
  align-items: center !important;
  justify-content: center !important;
  border-radius: 1000px !important;
  background: var(--blue-warm-vivid-blue-warm-vivid-70, #1351b4);

  color: var(--pure-pure, #fff) !important;
  font-family: Rawline !important;
  font-size: 16.8px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: normal !important;

  &:hover {
    background: var(--blue-warm-vivid-blue-warm-vivid-70, #1351b4) !important;
  }
}
