.toastui-editor-ww-container h1 {
  border: none;
  color: #000;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Rawline;
  font-size: 41.8px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.toastui-editor-ww-container h1::before {
  content: "#";
  color: var(--gray-cool-gray-cool-40, #8d9297);
}

.toastui-editor-defaultUI {
  padding-bottom: 30px;
}

.toastui-editor-toolbar-divider {
  display: none !important;
}

.toastui-editor-toolbar-item-wrapper:has(button) {
  height: auto !important;
}

.toastui-editor-defaultUI-toolbar {
  display: flex !important;
  align-items: center !important;
  height: 75px;
  background: var(--blue-warm-vivid-blue-warm-vivid-10, #d4e5ff) !important;
}

.toastui-editor-defaultUI-toolbar button {
  border: none !important;
}

.toastui-editor-toolbar-group > button:nth-child(1)::after {
  content: "B";
}

.toastui-editor-toolbar-group > button:nth-child(2)::after {
  content: "I";
}

.toastui-editor-toolbar-group > button:nth-child(3)::after {
  content: "L";
}

.toastui-editor-toolbar-group > button:nth-child(4)::after {
  content: "T";
}

.toastui-editor-main {
  top: 32px !important;
}
